html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OutfitBold;
    src: url('assets/assets/Outfit/static/Outfit-Bold.ttf');
}

.column {
    width: auto;
    padding: 5%;
}

.row{
    text-align: center;
    padding: 1%;
}


.backgroundIMG{
    display: block;
    background-image:url('assets/assets/background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    width:fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

h1{
    font-size: 40px;
    font-family: OutfitBold;
}

.button{
    height: fit-content;
    width: 40%;
    padding-left: auto;
    padding-right: auto;
    /*background-color: #996BF966;*/
    background:linear-gradient(90deg, #996BF9FF 0%, #996BF9FF 75%, #996BF911 75%);
    border: 2px solid;
    border-color:#8C8C8C;
    border-radius: 10px;
}

.btnSub{
    background:#FFFFFF;

}

p{
    text-align: center;
    color: #FFFFFF;
    font-family: OutfitBold;
    font-size: 40px;
}

p1{
    text-align: center;
    color: #996BF9;
    font-family: OutfitBold;
    font-size: 40px;
}

@media only screen and (max-width: 600px) {

    h1{
        font-size: 20px;
    }
    p {
      font-size: 20px;
    }
    p1 {
        font-size: 20px;
      }
  }