<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League Poll</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    <div class="backgroundIMG">
        <div class="column">
            <img src="assets/assets/logo.png" height="20%" width="20%" class="logo">
            <form action="form" method="POST" id="formID">
            <div class="title"><h1><%= locals.question  || 'Sorry we cannot find the poll you requested' %></h1></div>
            
            <div class="row">
                <input type="button" id="option1" value="<%= locals.firstOption || 'Please try another' %>" class="button" style="background: #996BF977;">
            </div>
            <div class="row">
                <input type="button" id="option2" value="<%= locals.secondOption || '' %>" class="button" style="background: #996BF977;">
            </div>
            <div class="row">
                <input type="button" id="option3" value="<%= locals.thirdOption || ' ' %>" class="button" style="background: #996BF977;">
            </div>
            <div class="row">
                <button type="submit" id="submit" class="button btnSub" name="chosen" value="">
                    <span>Submit</span>
                </button>
            </div>
        </form>
        </div>

    </div>
    <script src="formLogic.js"></script>
</body>
</html>